@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

*{
  scroll-behavior: smooth;
}

main{
  padding-top: 90px;
  font-family: 'Young Serif', serif;
  padding-bottom: 20px;
}


body {
  overflow-x: hidden;
  background-image: url(/PI-MissaoAmbiental/images/images_galeria/Green\ and\ white\ Sustainability\ modern\ presentation.png);
  background-origin:padding-box;
  background-attachment: fixed;
}

#carouselExampleIndicators{
  padding: 20px;
  margin: 20px;
}

button{
  transition: 0.5s; 
}

button:hover{
  padding: 1px;
  color: #07300c; 
  font-weight: bolder;
  cursor: pointer; 
}

header a{
  transition: 2s; 
}

header a:hover{
  color: #072b0b; 
  font-weight: bolder;
  cursor: pointer; 
}
footer{
  padding: 10px;
  background-color: beige;
  font-family: 'Poppins', sans-serif;
}
  
footer a{
  transition: 1s; 
}
  
footer a:hover{
  Padding: 1px;
  color: #13601d; 
  font-weight: bolder;
  cursor: pointer; 
}

ul.suporte, ul.redes_sociais{
  margin-right: 0px;
  padding-left: 0px;
}

.suporte {
  list-style: none;
  align-items: center;
}

.suporte .nav-link {
  margin-right: 10px; 
}

.redes_sociais .nav-link{
  margin-left: 15px;
}

.mapa_nav{
  list-style: none;
  padding: 0px;
}

.redes_sociais{
  display: flex;
  list-style: none;
}

.volta-topo{
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  height: 50px;
}