@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  scroll-behavior: smooth;
}

body.dark {
  background-color: #000000 !important; 
  color: yellow !important;  /* Define a cor do texto como branco */
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

main{
  background-color: whitesmoke;
  font-family: 'Young Serif', serif;
}

.custom-menu-2{
  background-color: whitesmoke; 
  padding-top: 20px;
}

article {
  margin-top: 90px;
  justify-content: center; 
  align-items: center;
  position: relative; 
  z-index: 1;
  background-color: #f5f5f5;
}

.text-overlay {
  width: 90%;  /* Ajuste a largura do overlay conforme necessário */
  max-width: 490px;
  background-color: rgba(0, 0, 0, 0.904); 
  padding: 2%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (max-width: 400px) {
  .text-overlay{
    font-size: 0.7rem;
  }

  .seletor{
    flex-direction: column;
  }

  .seletor li{
    padding: 10px;
  }
}

footer{
  padding: 10px;
  background-color: beige;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

footer a{
  transition: 1s; 
}

footer a:hover{
  padding: 1px;
  color: #13601d; 
  font-weight: bolder;
  cursor: pointer; 
}

body.dark footer{
  background-color: black;
  color: yellow;
}

.dark footer button{
  color: yellow;
}

.copy{
  color: black;
}

.dark .copy{
  color: yellow;
  background-color: black;
}

.dark .numero{
  color: yellow;
}

button{
  transition: 0.5s; 
}

.dark button{
  color: yellow;
  border-color: yellow;
}

button:hover{
  padding: 1px;
  color: #07300c; 
  font-weight: bolder;
  cursor: pointer; 
}

.dark button:hover{
  color: black;
  background-color: yellow;
}

.dark .copy{
  color: yellow;
  background-color: black;
}

.custom-menu{
  background-color: white;
}

header a{
  transition: 2s; 
}

header a:hover{
  color: #072b0b; 
  font-weight: bolder;
  cursor: pointer; 
}

.dark header a:hover{
  color: yellow; 
  font-weight: bolder;
  cursor: pointer; 
}

.dark header a{
  background-color: black;
  color: yellow; 
}

.dark html{
  background-color: black;
  color: yellow;
}
.dark *{
  background-color: black;
  color: yellow;
}

.dark nav{
  background-color: black;
  color: white;
}

/* Estilo para o modo escuro */
.dark .custom-menu {
  background-color: black; /* Cor de fundo no modo escuro */
  color: yellow; /* Cor do texto no modo escuro */
}

#insta{
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#insta li {
  padding-left: 14px;
}

#topo{
  display: flex;
}

ul.mapa{
  padding: 0;
}
ul.suporte{
  padding: 0;
  padding-left: 50px;
}

.img-zoom {
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.8s;
  height: 100%;
}

.img-zoom:hover {
  transform: scale(1.1);
}

.volta-topo{
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  height: 0px;
}

.dark .volta-topo:hover{
  background-color: black;
  color: yellow;
}

#nossa-historia{
  border-radius: 50px;
  height: 100%;
}
.seletor{
  list-style: none;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 150px;
}
.seletor li{
  align-items: center;
  justify-content: center;
  padding: 30px;

}

#compostagem-comunitaria{
  padding-top: 110px;
}

#compostagem-comunitaria p{
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
  padding-top: 20px;
}

#especies-nativas{
  text-align: center;
  padding-top: 110px;
}

#especies-nativas p{
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 20px;
}

#projetos-interbairros{
  padding-top: 110px;
}


#nativas{
  padding: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.button-veja_mais{
  display: flex;
  justify-content: center;
}

#nativas-i{
  padding: 10px;
}

@media screen and (min-width: 1440px) {
  #nativas{
    display: flex;
  }
}

#compostagem{
  align-items: center;
}

.dark .seemore{
  color: yellow;
  border-color: yellow !important;
  background-color: black;
}

.conteudo-oculto {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.conteudo-oculto.mostrar {
  display: block;
  opacity: 1;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.veja_mais-bt{
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}

.iframe-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}

.mapa_nav li{
  list-style: none;
}

.mapa_nav{
  padding-left: 0px;  
}

section img {
  border-radius: 20%;
}