
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
html{
  overflow-x: hidden;
  height: 100%;
}
main{
  background-color: gray;
  padding-bottom: 20px;
}
h1{
  font-weight: 100;
}
li{
  font-size: large;
}
footer{
  padding-top: 20px;
  background-color: beige;
}
#insta{
  display: flex;
  list-style: none;
}
#insta li{
  padding-left: 20px;
}
#topo{
  display: flex;
}
.mapa, .suporte{
  list-style: none;
}
#zoom-img{
  border-radius: 16px;
  overflow: hidden;
}
#zoom-img img{
  object-fit: cover;
  transition: transform 0.8s;
  height: 100%;
}

#zoom-img:hover img{
  transform: scale(1.5);
}




