@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body.dark {
  background-color: #000000 !important; 
  color: yellow !important;  /* Define a cor do texto como branco */
}


body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}


main{
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
}

section{
  height: auto;
}

.conteudos {
  padding: 10px;
  margin: 10px;
}

.conteudo {
  margin: 10px;
  padding: 10px;
}

.conteudo h1 {
  font-size: 50px;
  line-height: 1.2;
  margin: 10px;
  padding: 10px;
}

.conteudo h3 {
  font-size: 40px;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
}

.conteudo p {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

section img{
  align-items: center;
}

.custom-menu-2{
  background-color: whitesmoke; 
  padding-top: 20px;

}

article {
  max-width: max-content;
  max-height: max-content;
  display: flex;
  margin-top: 90px;
  justify-content: center; 
  align-items: center;
  position: relative; 
  z-index: 1;
  background-color: #f5f5f5;
 
}

.text-overlay {
  width: 100%; 
  max-width: 490px;
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 2%;
  border-radius: 20px;
  align-items: center;
}

footer{
  padding: 10px;
  padding-top: 20px;
  background-color: beige;
  padding-top: 20px;
}

footer a{
  transition: 1s; 
}

footer a:hover{
  padding: 1px;
  color: #13601d; 
  font-weight: bolder;
  cursor: pointer; 
}


body.dark footer{
  background-color: black;
  color: yellow;
}


.dark footer button{
  color: yellow;
}

.copy{
  color: black;
}

.dark .copy{
  color: yellow;
  background-color: black;
}

.dark .numero{
  color: yellow;
}

button{
  transition: 0.5s; 
}

.dark button{
  color: yellow;
  border-color: yellow;
}

button:hover{
  padding: 1px;
  color: #07300c; 
  font-weight: bolder;
  cursor: pointer; 
}

.dark button:hover{
  color: black;
  background-color: yellow;
}


.dark .copy{
  color: yellow;
  background-color: black;
}

.custom-menu{
  background-color: white;
}

header a{
  transition: 2s; 
}

header a:hover{
  color: #072b0b; 
  font-weight: bolder;
  cursor: pointer; 
}

.dark header a{
  background-color: black;
  color: yellow; 
}

.dark html{
  background-color: black;
  color: yellow;
}
.dark *{
  background-color: black;
  color: yellow;
}

.dark nav{
  background-color: black;
  color: white;
}

/* Estilo para o modo escuro */
.dark .custom-menu {
  background-color: black; /* Cor de fundo no modo escuro */
  color: yellow; /* Cor do texto no modo escuro */
}

#insta{
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#insta li {
  padding-left: 14px;
}

#topo{
  display: flex;

}
ul.mapa{
  padding: 0;
}
ul.suporte{
  padding: 0;
  padding-left: 50px;
}
.mapa, .suporte{
  list-style: none;
}

.img-zoom {
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.8s;
  height: 100%;
}

.img-zoom:hover {
  transform: scale(1.1);
}

.volta-topo{
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  height: 50px;
}

#nossa-historia{
  border-radius: 50px;
  height: 100%;
}
.seletor{
  list-style: none;
  display: flex;
  align-items:center;
  justify-content: center;
  padding-top: 50px;
}
.seletor li{
  padding-left: 150px;
  align-items: center;
  justify-content: center;

}


#especies-nativas{
  text-align: center;
}
#nativas{
  display: flex;
  padding-top: 20px;
}
#nativas-i{
  padding-left: 20px;
  text-align: left;
}
#nativas img{
  height: 273.13px;
  width: 273.13px;
}
.seletor span{
  display: block;
  text-align: center;
}
#compostagem{
  align-items: center;
}
.seemore{
  color: white;
  display: flex;
  align-items: center;
  border-radius: 25%;
  background-color: rgb(39, 117, 39);
}

.dark .seemore{
  color: yellow;
  border-color: yellow;
  background-color: black;
}

.conteudo-oculto {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.conteudo-oculto.mostrar {
  display: block;
  opacity: 1;
}


.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}


#compostagem-comunitaria{
  padding-top: 60px;
}

#especies-nativas2{
  padding-top: 75px;
}

#projetos-interbairros{
  padding-top: 60px;

}