
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

*{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

button {
    margin: 10px;
    display: flex;
}  

.calendario{
    margin-left: 10px;
    margin-right: 10px;
}
.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
  padding: 10px;
  padding-top: 20px;
  background-color: beige;
  padding-top: 20px;
}

footer a{
  transition: 1s; 
}

footer a:hover{
  padding: 1px;
  color: #13601d; 
  font-weight: bolder;
  cursor: pointer; 
}

button{
  transition: 0.5s; 
}

button:hover{
  padding: 1px;
  color: #07300c; 
  font-weight: bolder;
  cursor: pointer; 
}

header a{
  transition: 2s; 
}

header a:hover{
  color: #072b0b; 
  font-weight: bolder;
  cursor: pointer; 
}


#insta{
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#insta li {
  padding-left: 14px;
}

#topo{
  display: flex;

}
ul.mapa{
  padding: 0;
}
ul.suporte{
  padding: 0;
  padding-left: 50px;
}
.mapa, .suporte{
  list-style: none;
}

.img-zoom {
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.8s;
  height: 100%;
}

.img-zoom:hover {
  transform: scale(1.1);
}

.volta-topo{
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  height: 50px;
}

#nossa-historia{
  border-radius: 50px;
  height: 100%;
}