:root {
  --primary-clr: #4CAF50; /* Verde */
  --secondary-clr: #8BC34A; /* Verde claro */
  --accent-clr: #FF9800; /* Laranja */
  --background-clr: #E0E0E0; /* Cinza claro */
  --text-clr: #333; /* Cor do texto */
  --border-clr: #BDBDBD; /* Cor da borda */
  --shadow-clr: rgba(0, 0, 0, 0.1); /* Sombra */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}


body {
  position: relative;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--background-clr);
  color: var(--text-clr);
}

.dark body{
  color: yellow;
  background-color: black;
}

/* Restante do seu CSS */


main{
  padding-top: 135px;
}

.container {
  position: relative;
  width: 1200px;
  min-height: 850px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color: rgb(4, 45, 4);
}

.dark .container{
  color: yellow;
  background-color: black;
}

.left {
  width: 60%;
  padding: 20px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
}

.dark .calendar{
  color: yellow;
  background-color: black;
}

/* set after behind the main element */
.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #d3d4d6d7;
  transform: translateY(-50%);
}

.dark .calendar::before,
.dark .calendar::after {
  color: yellow;
  background-color: black;
}

.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}

.dark .calendar::before {
  color: yellow;
  background-color: black;
}

.calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}

.dark .calendar .month .prev:hover,
.dark .calendar .month .next:hover {
  color: black;
  background-color: yellow;
}

.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}

.dark .calendar .days .day {
  color: yellow;
  background-color: black;
  border: 1px solid yellow;
}

.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid #f5f5f5;
}

.dark .calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid yellow;
}


.calendar .days .day:nth-child(7n) {
  border-right: 2px solid #f5f5f5;
}

.dark .calendar .days .day:nth-child(7n) {
  border-right: 2px solid yellow;
}

.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid #f5f5f5;
}

.dark .calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid yellow;
}

.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid #f5f5f5;
}

.dark .calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid yellow;
}


.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--primary-clr);
}

.dark .calendar .days .day:not(.prev-date, .next-date):hover {
  background-color: yellow;
  color: black;
}



.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}

.dark .calendar .days .prev-date,
.dark .calendar .days .next-date {
  color: yellow;
}

.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-clr);
}


.dark .calendar .days .active {
  color: yellow;
  background-color: black;
}

.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}

.dark .calendar .days .active::before {
  box-shadow: 0 0 10px 2px yellow;
}

.calendar .days .today {
  font-size: 2rem;
}

.calendar .days .event {
  position: relative;
}

.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}

.dark .calendar .days .event::after {
  background-color: black;
}

.calendar .days .day:hover.event::after {
  background-color: #fff;
}

.dark .calendar .days .day:hover.event::after {
  background-color: yellow;
  color: black;
}

.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}

.dark .calendar .days .active.event::after {
  background-color: black;
  color: yellow;
}

.calendar .days .active.event {
  padding-bottom: 10px;
}

.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}

.dark .date-input::placeholder{
  color: yellow;
}

.dark .calendar .goto-today {
  color: yellow;
}

.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}

.dark .calendar .goto-today .goto {
  border: 1px solid yellow;
}

.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primary-clr);
  border-radius: 5px;
}

.dark .calendar .goto-today .goto input {
  color: yellow;
}

.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}

.dark .calendar .goto-today button {
  border: 1px solid yellow;
  color:yellow;
}

.dark .calendar .goto-today button {
  background-color: black;
  color: yellow;
}
.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--primary-clr);
}

.dark .calendar .goto-today button:hover {
  color: black;
  background-color: yellow;
}

.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}

.dark .calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid yellow;
  border-radius: 0;
}

.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}
.right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: #878895;
}

.dark .right .today-date .event-date {
  color:yellow;
}

.events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}

.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  background: linear-gradient(90deg, #3f4458, transparent);
  cursor: pointer;
}

.dark .events .event {
  color: yellow;
  background: black;
}

/* even event */
.events .event:nth-child(even) {
  background: transparent;
}

/* even event */
.dark .events .event:nth-child(even) {
  background: black;
}

.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}

.dark .events .event:hover {
  background: yellow;
  color: black;
}

.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}
.events .event i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}

.dark .events .event i {
  color: yellow;
}

.events .event:hover i {
  color: #fff;
}

.dark .events .event:hover i {
  color: black;
  background-color: yellow;
}

.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
}

.dark .events .event .event-time {
  color: yellow;
  background-color: black;
}

.events .event:hover .event-time {
  color: #fff;
}

.events .event:hover .event-time {
  color: black;
  background-color: yellow;
}

/* add tick in event after */
.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--primary-clr);
  transform: translateY(-50%);
}

.dark .events .event::after {
  color: yellow;
}

.events .event:hover::after {
  display: flex;
}

.add-event {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  border: 2px solid white;
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.dark .add-event {
  color: rgb(255, 255, 23);
  border: 2px solid yellow;
  opacity: 4;
}

.add-event:hover {
  opacity: 5;
  color: white;
}


.add-event i {
  pointer-events: none;
}


.events .no-event {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #878895;
}

.dark .events .no-event {
  color: rgb(255, 255, 1);
}

.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}


.dark .add-event-wrapper {
  background-color: black;
  color: yellow;
}

.add-event-wrapper.active {
  max-height: 300px;
}

.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #373c4f;
  border-bottom: 1px solid #f5f5f5;
}

.dark .add-event-header {
  color: yellow;
  border-bottom: 1px solid yellow;
}

.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}
.add-event-header .close:hover {
  color: var(--primary-clr);
}

.dark .add-event-header .close:hover {
  color: black;
  background-color: yellow;
}

.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.dark .add-event-body .add-event-input {
  color: yellow;
}

.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #373c4f;
}

.dark .add-event-body .add-event-input input {
  border-bottom: 1px solid yellow;
  color: yellow;
}

.add-event-body .add-event-input input::placeholder {
  color: #a5a5a5;
}

.dark .add-event-body .add-event-input input::placeholder {
  color: yellow;
}

.add-event-body .add-event-input input:focus {
  border-bottom: 1px solid var(--primary-clr);
}

.dark .add-event-body .add-event-input input:focus {
  border-bottom: 1px solid yellow;
}

.add-event-body .add-event-input input:focus::placeholder {
  color: var(--primary-clr);
}

.dark .add-event-body .add-event-input input:focus::placeholder {
  color: yellow;
}

.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.add-event-footer .add-event-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-clr);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
}

.dark .add-event-footer .add-event-btn {
  color: yellow;
  background-color: black;
  border: 1px solid yellow;
}

.add-event-footer .add-event-btn:hover {
  background-color: transparent;
  color: var(--primary-clr);
}

.dark .add-event-footer .add-event-btn:hover {
  background-color: yellow;
  color: black;
}


@media screen and (max-width: 2100px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1025px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
  }
  .container .left,
  .container .right {
    width: 100%;
    padding: 20px;
  }
  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }
  .events {
    padding-bottom: 340px;
  }
  .add-event-wrapper {
    bottom: 100px;
  }

  .calendar .weekdays {
    height: 50px;
    font-size: 1.0rem; /* Adjust font size for better readability */
  }
}

@media screen and (max-width: 600px) {

  .calendar .month {
    height: 75px;
    font-size: 1rem; /* Adjust font size for better readability */
  }
  .calendar .weekdays {
    height: 50px;
    font-size: 0.9rem; /* Adjust font size for better readability */
  }
  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
    line-height: 1.2; /* Adjust line height for better readability */
  }
  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }
  .right .today-date {
    padding: 20px;
    font-size: 0.9rem; /* Adjust font size for better readability */
  }
}

@media screen and (max-width: 500px) {
  .calendar .month {
    height: 60px;
    font-size: 0.9rem; /* Adjust font size for better readability */
  }
  .calendar .weekdays {
    height: 40px;
    font-size: 0.4rem; /* Adjust font size for better readability */
  }
  .calendar .days .day {
    height: 30px;
    font-size: 0.7rem;
    line-height: 1.1; /* Adjust line height for better readability */
  }
  .right .today-date {
    padding: 15px;
    font-size: 0.8rem; /* Adjust font size for better readability */
  }
}
