@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  scroll-behavior: smooth;
}

body.dark {
  background-color: #000000 !important; 
  color: yellow !important;  /* Define a cor do texto como branco */
}
main{
  padding-top: 90px;
  font-family: 'Poppins', serif;
  border-radius: 10px;
}

.dark main{
  background-color: black;
  color: yellow;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.dark table{
  background-color: black;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.dark th, td{
  background-color: black;
}

th {
    background-color: #f2f2f2;
}

.dark th{
  background-color: black;
}

button {
    margin: 10px;
    display: flex;
}  

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;

}button{
  transition: 0.5s; 
}
  
button:hover{
  padding: 1px;
  color: #07300c; 
  font-weight: bolder;
  cursor: pointer; 
}

.dark button:hover{
  color: yellow;
}
  
header a{
  transition: 2s; 
}
  
header a:hover{
  color: #072b0b; 
  font-weight: bolder;
  cursor: pointer; 
}


.dark header a{
  background-color: black;
  color: yellow; 
}

.dark html{
  background-color: black;
  color: yellow;
}
.dark *{
  background-color: black;
  color: yellow;
}

.dark nav{
  background-color: black;
  color: white;
}

.custom-menu{
  background-color: white;
}

/* Estilo para o modo escuro */
.dark .custom-menu {
  background-color: #000000; /* Cor de fundo no modo escuro */
  color: yellow; /* Cor do texto no modo escuro */
}

.dark .custom-menu-2{
  background-color: black;
  color: yellow;
}

footer{
  padding: 30px;
  background-color: beige;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}
  
footer a{
  transition: 1s; 
}
  
footer a:hover{
  Padding: 1px;
  color: #13601d; 
  font-weight: bolder;
  cursor: pointer; 
}

.dark footer button{
  color: yellow;
}

.copy{
  color: black;
}

.dark .copy{
  color: yellow;
  background-color: black;
}



ul.suporte, ul.redes_sociais{
  margin-right: 0px;
  padding-left: 0px;
}

.suporte {
  list-style: none;
  align-items: center;
}

.suporte .nav-link {
  margin-right: 10px; 
}

.redes_sociais .nav-link{
  margin-left: 15px;
}

.mapa_nav{
  list-style: none;
  padding: 0px;
}

.redes_sociais{
  display: flex;
  list-style: none;
}

.volta-topo{
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

/* Corrija a classe a seguir, mude de .checkbox:checked para .checkbox:checked + .label .ball */
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}